*{
    margin:0;
    padding:0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,yellow , rgb(13, 106, 247));
}

.main{
    width:100%;
    max-width: 540px;
    background: #fff;
    border-radius: 10px;
    padding:30px 40px 70px;
}

#txtBox{
    background:transparent;
    outline: none;
    margin-top: 15px;
    border:1px solid;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    transition: 0.3s;
    z-index: 1111;
    padding:10px;
    position:relative;
}
#txtBox:focus, #txtBox:valid     {
    transition:0.3s;
    border:2px solid yellow;
    
}

.row{
    position: relative;
    height: 80px;
    line-height: 80px;
}
#placehold{
position:absolute;
margin-left:-242px;
padding-right: 105px;
}

#selector{
    margin-top: 15px;
    border:1px solid;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

